body{
 background:linear-gradient(red,black 10%,black 90%, red )
}

h2, ul, li {
  color:red;
}

a {
  color:black;
}

a:visited {
  color: black;
}

h1, h3 {
  text-align:center;}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

img {
  width:600px;
  max-width: 100%;
  display:block; 
    margin: 0 auto;
}

.image {
  max-width: 100%;
  max-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  font-size:.9rem;
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin-bottom:16px;
}